body {
  background-color: rgba(210, 238, 122, 1);
}

header {
  font-family: georgia, "Times New Roman", serif;
}
p {
  font-family: Verdana, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: darkgreen;
}

footer {
  margin-left: 570px;          /*   margin: auto vill inte funka   */
  width: 220px;
}
section {
  display: inline-block;
}

section>article:nth-child(2) {
  float: left;
  width: 49%;
  height: 700px
}

section>article:nth-child(1) {
  float: right;
  width: 49%;
}

a:hover {
  text-decoration: underline;
}
